{% extends "frontOffice.html.twig" %}

{% block header %}
    {% include 'headerFrontOffice.html.twig' %}
{% endblock %}

{% block body %}
    <body class="index">
        {%
        set monthNames = {
            '01':'Janvier',
            '02':'Février',
            '03':'Mars',
            '04':'Avril',
            '05':'Mai',
            '06':'Juin',
            '07':'Juillet',
            '08':'Août',
            '09':'Septembre',
            '10':'Octobre',
            '11':'Novembre',
            '12':'Décembre'
        }
        %}
        <div class="toprowshield"></div>
        <h1>{{ frontConfig['site']['title'] }}</h1>
        <div class="toprow">
            <div class="motto">{{ frontConfig['site']['motto'] }}</div>
            <div class="tools toptools">
                <div class="searchbox"><input id="searchbox" placeholder="AAAA.mm.jj tags mots du titre"></div>
                <div class="guestTool"><a href="worker.php/l" title="Log in">🗝️</a></div>
                <div class="tool"><a href="worker.php/w" title="New post" target="_blank">✒️</a></div>
                <div class="tool"><a href="worker.php/g" title="Rebuild">🏗️</a></div>
            </div>
        </div>
        <div class="articlesContainer grid" data-masonry='{ "itemSelector": "article", "columnWidth": 275 }'>
            {% for year,months in posts %}
                {% for month,days in months %}
                    {% for day,times in days %}
                        {% for time,seconds in times %}
                            {% for second,post in seconds %}
                                <article class="grid-item" data-searchable="{{year}}.{{month}}.{{day}} {{ post.yaml.title|e }} {% for tag in post.yaml.tags %} {{ tag|e }} {% endfor %}">
                                    <div class="tools"><div class="tool"><a href="worker.php/u/{{ post.filename| url_encode }}" title="Update post" target="_blank">✍️</a></div><div class="tool"><a href="worker.php/n/{{ post.filename | url_encode }}" title="Create a new post as the next part" target="_blank">🗍</a></div></div>
                                    <h2><a href="{{ post.getHtmlFilename | url_encode }}">{{ post.getHtmlTitle() | raw }}</a></h2>
                                    <div class="time">{{year}}/{{month}}/{{day}} {{time}}</div>
                                     {% for tag in post.yaml.tags %}
                                        <div class="tag">{{ tag }}</div>
                                    {% endfor %}
                                   {% if post.yaml.titlel2 %}<h3>{{ post.yaml.titlel2 }}</h3>{% endif %}
                                    {% if post.yaml.titlel3 %}<h4>{{ post.yaml.titlel3 }}</h4>{% endif %}
                                    {% if post.yaml.titlel4 %}<h5>{{ post.yaml.titlel4 }}</h5>{% endif %}
                                    {% if post.yaml.titlel5 %}<h6>{{ post.yaml.titlel5 }}</h6>{% endif %}
                                    <div class="content">
                                        {{ post.getHtmlContent() | raw }}
                                        {% if post.getHtmlMoreContent() %}<div class="readmore"><a href="{{ post.getHtmlFilename | url_encode }}" title="Lire la suite...">📜</a> {% endif %}
                                        </div>
                                </article>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
{% endblock %}
