{% extends "frontOffice.html.twig" %}

{% block header %}
    {% include 'headerFrontOffice.html.twig' %}
{% endblock %}

{% block body %}
    {%
        set monthNames = {
            '01':'Janvier',
            '02':'Février',
            '03':'Mars',
            '04':'Avril',
            '05':'Mai',
            '06':'Juin',
            '07':'Juillet',
            '08':'Août',
            '09':'Septembre',
            '10':'Octobre',
            '11':'Novembre',
            '12':'Décembre'
        }
    %}
    <h1>{{ frontConfig['site']['title'] }}</h1>
    <div class="tools">
        <div class="searchbox"><input id="searchbox" placeholder="AAAA.mm.jj tags mots du titre"></div>
        <div class="guestTool"><a href="l" title="Log in">l</a></div>
        <div class="tool"><a href="w" title="New post">w</a></div>
    </div>
    <div>{{ frontConfig['site']['motto'] }}</div>
    {% for year,months in posts %}
        <div class="yearcontainer">
        <div class="year">{{ year }}</div>
            {% for month,days in months %}
                <div class="monthcontainer">
                <div class="month">{{ attribute(monthNames,month) }}</div>
                    {% for day,times in days %}
                        <div class="daycontainer">
                            <div class="day">{{ day }} {{ attribute(monthNames,month) }} {{ year }}</div>
                            {% for time,seconds in times %}
                                {% for second,post in seconds %}
                                    <article data-searchable="{{year}}.{{month}}.{{day}} {{ post.title|e }} {% for tag in post.tags %} {{ tag|e }} {% endfor %}">
                                        <div class="tools"><div class="tool"><a href="worker.php/u/{{ post.fileName|e }}" title="Update post">u</a></div></div>
                                        <div class="time">{{ time }}</div>
                                        <h2>{{ post.title | raw }}</h2>
                                            {% for tag in post.tags %}
                                                <div class="tag">{{ tag }}</div>
                                            {% endfor %}
                                        <div class="content">{{ post.content | raw }}</div>
                                    </article>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
