{% extends "backOffice.html.twig" %}

{% block body %}
    <body class="newpost">
        <div id="moreActions">
            <div class="close">X</div>
            <div id="moreActionsTabs">
                {% if currentView %}
                    <div id="currentViewTab">
                        View current version
                    </div>
                {% endif %}
                <div id="addPictureTab">
                    Add a picture
                </div>
                <div id="addFileTab">
                    Add a file
                </div>
            </div>
            <div id="moreActionsMain">
                <div id="addPictureMain">
                    <h1>Add a picture</h1>
                    <div id="uplimgcontainer">
                        <span id="pickimgs">[Select images]</span> 
                        <span id="uploadimgs">[Upload images]</span>
                    </div>
                    <div id="uplimglist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
                    <br />
                    <pre id="imgconsole"></pre>
                    <hr>
                    <ul id="imgList">
                        {% for img in imgs %}
                            <li>{{ img }}</li>
                            {% endfor %}
                    </ul>
                </div>
                <div id="addFileMain">
                    <h1>Add a file</h1>
                    <div id="uplfilecontainer">
                        <span id="pickfiles">[Select files]</span> 
                        <span id="uploadfiles">[Upload files]</span>
                    </div>
                    <div id="uplfilelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
                    <br />
                    <pre id="fileconsole"></pre>
                    <hr>
                    <ul id="fileList">
                        {% for file in files %}
                            <li>{{ file }}</li>
                            {% endfor %}
                    </ul>
                </div>
                <div id="currentViewMain">
                    <h1>Current version</h1>
                    <iframe src="../../{{ currentView }}" style="width:90vw;height:70vh"></iframe>
                </div>
            </div>
        </div>
        <form method="post">
            <div id="newPostFormContainer">
                <div id="flashMsg">
                    {% for status,msgs in messages %}
                        {% for message in msgs %}
                            <div class="flashmsg {{ status }}">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <textarea tabindex="1" id="content" name="content" placeholder="{% include 'mdhelp.txt' %}">{% if textAreaContent %}{{ textAreaContent }}{% endif %}</textarea>
                <div id="contentPlus" contenteditable></div>
                <div id="newPostButtons">
                    <input type="button" id="more" value="+" tabindex="3"><input id="submit" tabindex="2" type="submit">
                </div>
            </div>
        </form>
    </body>
{% endblock %}
