{% extends "frontOffice.html.twig" %}

{% block header %}
    {% include 'headerFrontOffice.html.twig' %}
{% endblock %}

{% block body %}
    {%
        set monthNames = {
            '01':'Janvier',
            '02':'Février',
            '03':'Mars',
            '04':'Avril',
            '05':'Mai',
            '06':'Juin',
            '07':'Juillet',
            '08':'Août',
            '09':'Septembre',
            '10':'Octobre',
            '11':'Novembre',
            '12':'Décembre'
        }
    %}
    <h1>{{ post.getHtmlTitle() | raw }}</h1>
     <nav>
    {% if post.yaml.previous %}
        <div class="previous tool"><a href="{{ post.previousToHtmlFilename() | url_encode }}" title="Previous part">⏮️</a></div>
    {% endif %}
        <div class="previousPost tool"><a href="#">⌛️</a></div>
    {% if post.yaml.updatedFrom %}
        <div class="updatedFrom tool"><a rel="nofollow" href="{{ post.updatedFromHtmlFilename() | url_encode }}" title="Previous version">↩️</a></div>
    {% endif %}
    <div class="tool"><a href=".." title="Accueil">🏠</a></div>
    {% if post.yaml.updatedTo %}
        <div class="updatedTo tool""><a href="{{ post.updatedToHtmlFilename() | url_encode }}" title="Next version">↪️</a></div>
    {% endif %}
        <div class="nextPost tool"t><a href="#">⏳</a></div>
    {% if post.yaml.next %}
        <div class="next tool"><a href="{{ post.nextToHtmlFilename() | url_encode }}" title="Next part">⏭️</a></div>
    {% endif %}
     </nav>
    <div class="tools toptools">
        <div class="tools">
            <div class="guestTool"><a href="worker.php/l" title="Log in">🗝️</a></div>
            <div class="tool"><a href="worker.php/w" title="New post" target="_blank">✒️</a></div>
            <div class="tool"><a href="worker.php/g" title="Rebuild">🏗️</a></div>
            {% if not post.yaml.updatedTo %}<div class="tool"><a href="worker.php/u/{{ post.filename| url_encode }}" title="Update post" target="_blank">✍️</a></div>
            <div class="tool"><a href="worker.php/n/{{ post.filename | url_encode }}" title="Create a new post as the next part" target="_blank">🗍</a></div>{% endif %}
        </div>
    </div>
<div class="year">{{ post.day }} {{ attribute(monthNames,post.month) }} {{ post.year }}</div>
<div class="monthcontainer">
    {% if post.yaml.titlel2 %}<h2>{{ post.yaml.titlel2 }}</h2>{% endif %}
    {% if post.yaml.titlel3 %}<h3>{{ post.yaml.titlel3 }}</h3>{% endif %}
    {% if post.yaml.titlel4 %}<h4>{{ post.yaml.titlel4 }}</h4>{% endif %}
    {% if post.yaml.titlel5 %}<h5>{{ post.yaml.titlel5 }}</h5>{% endif %}
    <div class="firstlines">{{ post.getHtmlContent() | raw }}</div>
</div>
    <div class="daycontainer">
        <div class="day"></div>
    </div>
    <div class="content">{{ post.getHtmlMoreContent() | raw }}</div>
{% endblock %}
